@import "color.less";
body {
    font-family: Helvetica, "Segoe UI Light","Segoe UI","Microsoft Jhenghei",sans-serif;
    width: 100%;
}
// 图片相关
img {
    border-style: none;
    max-width: 100%;
    height: auto;
    display: block;
}
// 按钮样式 有一个最大的按钮样式库 在这里我们可以挑选一个自己最喜欢的按钮样式 http://www.bootcss.com/p/buttons/

h1{color: @red;font-size: 30px;}
h2{color: @blue;}
h3{color: @green;}
// 主页面居中
#content {
    position: relative;
    width: 10rem;
    margin: 0 auto;
}