@import "base.less";
@import "flex.less";
body {
  font-family: Helvetica, "Segoe UI Light","Segoe UI","Microsoft Jhenghei",sans-serif;
  width: 100%;
  background-color:@silver;
}
// 图片相关
img {
  border-style: none;
  width: 100%;
  height: auto;
  display: block;
}
// 按钮样式 有一个最大的按钮样式库 在这里我们可以挑选一个自己最喜欢的按钮样式 http://www.bootcss.com/p/buttons/
div{
  font-size:12px
}
*, :after, :before {
  box-sizing: inherit;
}
a{
  color: @color;
}
.space{
  width: 10rem;
  height: .2rem;
  overflow: hidden;
  border-top: solid 1px @gray;
}
.ellipsis{
text-overflow : ellipsis;
white-space: nowrap;
overflow: hidden;}
//强制样式表倍率
// 字体大小重置
h1{font-size: @XXL;}
h2{font-size: @XL;}
h3{font-size: @L;}
h4{font-size: @M;}
h5{font-size: @S;}
h6{font-size: @XS;}
// 主页面居中
#content ,#foot ,#header{
  position: relative;
  width: 10rem;
  margin: 0 auto;
  font-size: 12px;
}
// 顶部广告条 样式表
  .ad-notice{
    position: absolute;
    top: 0;
    width: 10rem;
    height: .6rem;
    color: black;
    display: block;
    z-index: 100;
    text-align: center;
    overflow: hidden;
    margin: .1rem 0;
    .swiper-wrapper{
      width: 8rem;
      height: .4rem;
      display: block;
      margin: 0 auto;
      border-radius: 100px;
      .swiper-slide {
        font-size: @S;
        background-color: @silver;
        border-radius: 100px;
        display: flex;
        height: 22px;
        align-items:center;
        span.left{
          float: left;
          width: 8%;
        }
        a{
          width: 92%;
          font-size: .3rem;
          color: @black;
          .ellipsis
        }
       }
    }
    }


.left{
  float: left;
}
.right{
  float: left;
}
.visiis {
  font-size: inherit;
  }
// 图片排版
.box a.pro{
  img{
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin: .25rem auto 0 auto;
  }
  p{
    width: 100% ;
    height:.5rem ;
    padding-bottom: .25rem;
    font-size: @M;
    text-align: center;
    color: @black;
    font-weight: bolder;
  }
}
.box .ad{
  position: relative;
  width: 5rem;
  height: 2.5rem;
  display: block;
  img{
    position: absolute;
  }
  .con{
    padding: .25rem;
    position: absolute;
    color: @black;
    h4{
      font-size: @L;
      font-weight: bolder;
      height: 0.8rem;
      line-height: 0.8rem;

    }
    p{
      font-size: @S;
      height: 0.6rem;
      line-height: 0.6rem;
      .ellipsis;
    }
    span.btn{
      font-size: .2rem;
      width: 1.2rem;
      padding: .1rem;
      line-height: .2rem;
      display: block;
      border: solid 1px @silver;
      border-radius: 100px;
      text-align: center;
      .ellipsis;
    }
  }
}
a.box-a{
  width: 5rem;
  height: 2.5rem;
  background-color: #00b3ee;
  position: relative;
  display: block;
  img{
    position: absolute;
  }
}
#news .box-act {
  background-color: white;
  overflow: hidden;
  .tit {
    padding: .2rem;
    border-bottom: 1px solid @silver;
    font-size: @M;
  }
  .con {
    padding: .2rem 0 0 .2rem;
    .col-left {
      width: 9.8rem;
      justify-content: space-between;
      a.col {
        display: block;
        padding-bottom:.2rem ;
          .new-pics{
            display: block;
            padding-right: .2rem;
            color: @black;
            img {
              height: auto;
            }
            h4{
padding-top: .2rem;
              font-size: @M;
              height: 0.6rem;
              line-height: 0.6rem;
              .ellipsis;
            }

            p{
              font-size: @S;
              color: @gray;
              height: 0.3rem;
              line-height: 0.3rem;
              .ellipsis;
              padding-bottom: .2rem;
            }
          }
      }
    }
  }
}

#about .box-act {
  background-color: white;
  overflow: hidden;
  .tit {
    padding: .2rem;
    border-bottom: 1px solid @silver;
    font-size: @M;
  }
  .con{
    padding-right: .2rem;
    .swiper-about{
      .swiper-wrapper{
        .swiper-slide{
          .s-box{
          width: 8rem;
            height: 8rem;
          display: block;
          margin: 0 auto;
            overflow: hidden;
            .title{
            font-size: @L;
              height: 1rem;
              line-height: 1rem;
              font-weight: bolder;
            }
            .art{
              font-size: .3rem;
              line-height: .5rem;
              text-align:justify;
            }
          }
        }
      }
    }
  }
}
// 金融推送
#day{
  background-color: white;
  overflow: hidden;
  .tit {
    padding: .2rem;
    border-bottom: 1px solid @silver;
    font-size: @M;
  }
  .con{
     .day{
       padding-top: .2rem;
       height: 1rem;
       overflow: hidden;
       .col-1{background-color: @color;
         text-align: center;
         font-size: @M;
         line-height: 1rem;
         height: 1rem;
         color: white;
       }
       .col-2{
         font-size: @M;
         color: @black;
         span{
         line-height: .5rem;
           padding-right:.2rem ;
         height: .5rem;
         float: right;
           display: block;
         }
       }
       .col-3{
         border-bottom: solid .1rem @color;
         span{
           font-size: .5rem;
           min-width: .6rem;
           padding: .2rem;
           color: white;
           float: left;
           background-color: @color;
         }
       }
       padding-bottom: .2rem;
      }
    .day-con{
      padding: .2rem;
      h3{
        padding-top:.3rem;
        line-height: .8rem;
        padding-bottom:.3rem;
      }
      h4{
        background-color: @silver;
        padding: .2rem;
      }
      p{
        padding-top: .2rem;
        font-size: .3rem;
        line-height: .5rem;
        text-align:justify;
        padding-bottom: .2rem;
      }
    }
  }
}
// 16-12-26 footer样式
#foot{
  position: relative;
  height: 1.6rem;
  .navbar{
  position: fixed;
  width: 10rem;
  height: 1.6rem;
  background-color: @black;
  bottom: 0;
  z-index: 9999999;  text-align: center;
    a.col {
      color: white;
      i {
        font-size: .8rem;
        line-height: 1rem;
        height: 1rem;
      }
      h4 {
        font-size: .3rem;
        line-height: .5rem;
        height: .5rem;
      }
    }
a.col.active{
  color: @color;
}
  }
}
@media all and (orientation : landscape) {
  //横屏时候CSS纠正
  #header ,#content , #foot{display: none;}
  .a-box{display: block;}
}

@media all and (orientation : portrait){
  //竖屏时候CSS纠正
  #header ,#content , #foot{display: block;}
  .a-box{display: none;}
}
.a-box{
  position: fixed;
  color: white;
  width: 8rem;
  height: 1rem;
  left: 50%;
  top: 50%;
  background-color: #d42e28;
  margin-left: -4rem;
  margin-top: -.5rem;
  z-index: 9999999;
  border-radius: 10px;
  .alert{
    font-size: .3rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    h4{
      font-size: .3rem;
      height: .5rem;
      line-height: .5rem;
    }
  }
}

// 下拉时候顶部导航才会出现

#top{
  background: @color;
}