body {
  font-family: Helvetica, "Segoe UI Light", "Segoe UI", "Microsoft Jhenghei", sans-serif;
  width: 100%;
}
img {
  border-style: none;
  max-width: 100%;
  height: auto;
  display: block;
}
h1 {
  color: #FF4136;
  font-size: 30px;
}
h2 {
  color: #0074D9;
}
h3 {
  color: #2ECC40;
}
#content {
  position: relative;
  width: 10rem;
  margin: 0 auto;
}
