<!DOCTYPE html>
<html lang="en" id="fxbtg">
<head>
    <meta charset="UTF-8">
    <title><%= pkg.name %></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Author" content="<%= pkg.author %>"/>
    <meta name="Copyright" content="<%= pkg.license %>"/>
    <meta name="keywords" content="<%= pkg.keywords %>"/>
    <meta name="description" content="<%= pkg.description %>"/>
    <!-- CSS 开始 -->

    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <!-- 高清手机适配方案↑ -->
    <link rel="stylesheet" href="css/visi.min.css"> <!-- 标准化 -->

    <!-- CSS 结束 -->
</head>


<body>
<header>
    <h1>这里是通用头部区域</h1>最新
    <hr /><%= pkg.name %>
</header>